@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,600&display=swap");

body {
  font-family: "Work Sans", sans-serif;
}

header,
footer {
  background-color: #70a48b;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.75rem 0;
}

header img {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  width: 13rem;
}

header ul {
  display: flex;
  list-style: none;
  padding: 1.45rem 1.2rem;
  margin: 0.5rem 2rem;
  border: 2px #fff solid;
  border-radius: 10px;
}

header a {
  text-decoration: none;
  margin: 0 0.5rem;
  color: #fff;
  font-size: 13px;
}

.donation-link {
  background: black;
  padding: 0.5rem;
  border-radius: 7px;
  font-size: 10px;
}

.body-layout {
  padding-top: 14rem;
  margin: 0 1rem;
}

.body-layout h2 {
  font-size: 1.25rem;
}

.location-btn {
  display: flex;
  flex-direction: column;
  align-content: left;
}

.location-btn button {
  height: 3rem;
  margin: 0.5rem 0;
  padding: 0 1rem;
  border-radius: 10px;
  border: 2px black solid;
  background-color: #70a48b;
  text-align: left;
  color: #fff;
  font-family: "Work Sans", sans-serif;
  cursor: pointer;
}

.pets-for-adoption-layout {
  padding-top: 5rem;
}

.images-of-pets {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 4rem;
}

.images-of-pets img {
  margin: 0.5rem 0;
  width: 200px;
  border-radius: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

footer img {
  width: 35px;
  padding: 0.5rem;
}

@media (min-width: 768px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }

  header img {
    margin: 0.5rem 1rem;
  }

  header ul {
    margin: 0.5rem 1rem;
    padding: 1.45rem 1.75rem;
  }

  .body-layout {
    display: flex;
    justify-content: space-between;
    padding-top: 10rem;
  }

  .location-and-info {
    width: calc(100% / 3);
  }

  .location-and-info p {
    font-size: 18px;
  }

  .location-btn button {
    height: 4rem;
  }

  .pets-for-adoption-layout {
    width: calc(100% / 1.75);
    padding-top: 0rem;
    margin: 0 4rem;
  }

  .images-of-pets {
    justify-content: space-between;
  }

  .images-of-pets img {
    width: 16.5rem;
  }
}
